<html>
    <head>
        <title>Set Cookie</title>
    </head>
    <body>
        <form action="set_cookie" method="post">
            <input name="name" />
            <input name="value" />
            <input type="submit" value="Set Cookie" />
        </form>
        <h1>Current Cookies</h1>

        <table>
            <% for(cookie in cookies) { %>
                <tr>
                    <td style="font-weight: bold"><%= cookie %>: </td><td><%= cookies[cookie] %></td>
                </tr>
            <% } %>
        </table>
    </body>
</html>
