<a href="/executions/add">Add New</a>
<p />
<span style="color: green"><%= flash['executionSuccess'] %></span>
<p />
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th></th>
    </tr>
    <% executions.forEach(function(execution) { %>
        <tr>
            <td>
                <%= execution.name() %>
            </td>
            <td>
                <%= execution.description() %>
            </td>
            <td>
               <a href="/executions/<%= execution._id %>/edit">Edit</a>
               <%h postLink({href: '/executions/' + execution._id + '/delete',
                             onclick: "if(!window.confirm('Are you sure?')) return false;",
                             text: 'Delete'}) %>
            </td>
        </tr>
    <% }); %>
</table>
