<label for="name">Name:</label>
<input type="text" id="name" name="language.name" value="<%= language.name() %>" />
<span style="color: red"><%= error(language, 'name', locale) %></span>

<p />

<label for="description">Typing:</label>
<%h booleanCheckbox({name: 'language.static', state: language.static()}) %> Static
<%h booleanCheckbox({name: 'language.dynamic', state: language.dynamic()}) %> Dynamic
<span style="color: red"><%= error(language, 'typing') %></span>

<p />

<label for="execution">Execution Environment:</label>
<%h collectionSelect({name: 'language.executionId', id:'execution', items: executions, value: language.executionId(),
                     valueProp: 'id', labelProp: 'name', prompt: '-- Select --'}) %>
<span style="color: red"><%= error(language, 'executionId', locale) %></span>

<p />

<label for="paradigms">Paradigms:</label>
<%h collectionSelect({name: 'language.*paradigmIds', id:'paradigms', items: paradigms, value: language.paradigmIds(),
                     valueProp: 'id', labelProp: 'name', size: 4, multiple: 'multiple'}) %>
<span style="color: red"><%= error(language, 'paradigmIds', locale) %></span>

<p />

<input type="submit" value="Save" />
<a href="/languages">Back</a>
